@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Raleway:wght@300;400;500;600;700&display=swap');

:root {
    /* Palette */
    --primary-solid: #FF3333;
    --primary-900: rgba(255, 51, 51, 0.9);
    --primary-500: rgba(255, 51, 51, 0.5);
    --primary-300: rgba(255, 51, 51, 0.3);

    --secondary-solid: #1D84B5;
    --secondary-900: rgba(29, 133, 181, 0.9);
    --secondary-500: rgba(29, 133, 181, 0.5);
    --secondary-300: rgba(29, 133, 181, 0.3);

    --dark-solid: #1F1F1F;
    --dark-900: rgba(31, 31, 31, 0.9);
    --dark-500: rgba(31, 31, 31, 0.5);
    --dark-300: rgba(31, 31, 31, 0.3);

    --dark-bg-solid: #30343F;
    --light-bg-solid: #FAFAFF;
    --light-font-solid: #fff;

    /* Typography */
    --base-font: 'Inter', sans-serif;
    --alternative-font: 'Raleway', sans-serif;

    /* Font sizes */
    --font-display: 4.6em;
    --font-jumbo: 3.8em;
    --font-xlarge: 3em;
    --font-large: 2.4em;
    --font-medium: 1.8em; /* 1.8em * 10px = 18px */
    --font-small: 1.6em;
    --font-xsmall: 1.4em;

    /* Spacings */
    --spacing-128: 12.8rem;
    --spacing-68: 6.8rem;
    --spacing-36: 3.6rem;
    --spacing-28: 2.8rem;
    --spacing-24: 2.4rem;
    --spacing-20: 2rem;
    --spacing-16: 1.6rem;
    --spacing-12: 1.2rem;
    --spacing-8: 0.8rem;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: var(--base-font);
    font-size: 62.5%; /* 10 px */
    color: var(--dark-solid);
}

a {
    text-decoration: none;
    font-family: inherit;
    color: inherit;
}

header, footer {
    font-family: var(--alternative-font);
    color: var(--light-font-solid);
    background-color: var(--dark-bg-solid);
}

ul, ol {
    list-style-type: none;
}

p {
    font-size: var(--font-medium); 
}

img {
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0px auto;
}

/* Header */
header {
    background-color: var(--dark-bg-solid);
    padding: var(--spacing-36);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__menu {
    display: flex;
    align-items: center;
    gap: var(--spacing-20);
}

.navbar__logo {
    width: 372px;
}

.navbar__link {
    font-size: var(--font-medium);
    padding: var(--spacing-8) var(--spacing-16);
    display: inline-block;
    transition: background .3s ease-in-out;
    position: relative;
}

.with-icon {
    display: flex;
    align-items: center;
    gap: var(--spacing-8);
}

.navbar__link:hover {
    background-color: var(--primary-900);
}

.submenu {
    display: none;
    position: absolute;
    background-color: var(--dark-bg-solid);
}

.with-submenu:hover .submenu{
    display: block;
}

.submenu__link {    
    display: block;
    padding: var(--spacing-8) var(--spacing-16);
    font-size: var(--font-medium);
    transition: background .3s ease-in-out;
}

.submenu__link:hover {
    background-color: var(--primary-900);
}

.hero {
    background-image: url(/img/funkos-banner.webp);
    background-size: cover;
    background-attachment: fixed;
    padding: var(--spacing-128);
    font-family: var(--alternative-font);
    color: var(--light-font-solid);
    position: relative;
}

.hero::before {
    content: '';
    background-color: rgb(0, 0, 0, 0);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backdrop-filter: blur(2px) brightness(.9);
}

.hero__content {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: var(--spacing-12);
    position: relative;
    z-index: 2;
}

.hero__title {
    font-size: var(--font-jumbo);
}

.hero__link {
    color: var(--dark-solid);
    background-color: var(--light-font-solid);
    font-size: var(--font-medium);
    font-weight: 500;
    /* font-size: var(--font-large); */
    padding: var(--spacing-12) var(--spacing-68);
    border-radius: 50px;
    margin-top: var(--spacing-36);
}

.hero__link:hover {
    background-color: var(--primary-900);
    color: var(--light-font-solid);
    transition: background .3s ease-in-out;
}
